body {
	font-family: "Lucida Console", monospace !important;
}


.h{height: 100px;}


.clear{
	overflow: hidden;
	clear: both;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.f-r{ float: right;}
.f-l{ float: left;}



.block {display: block;}
.img-r {
	width: 100%;
	height: auto;
	 }

.border-bottom {border-bottom: 1px solid #ccc;}


.h-20 { height: 20px;}
.h-50 { height: 50px;}
.h-100{ height: 100px;}

.w-20{width: 20px; }
.w-50 {width: 50px;}
.w-100{width: 100px;}




.circle { border-radius: 50%;}

@light-green: #80b953;
@grey: #474747;

/*social media colors */
@facebook :#3b5998;
@twitter : #55acee;
@google-plus : #dd4b39;
@youtube: #bb0000;
@linkedin : #007bb5;
@pinterest : #cb2027;
@snapchat : #fffc00;
@dropbox : #007ee5;
@flickr : #ff0084;
@tumblr : #32506d;
@spotify : #00e461;
@behance : #1769ff;

/*Code Drew Codes */
.blink { animation: blink 1s infinite;}
@keyframes blink{
  to{opacity: .0;}
}


.home {
	margin-top: 100px; 
	.center;
	font-size: 3rem;
	color: black;
	h1{
		.center;
		padding-top: 140px;
		font-size: 90px;
		margin-bottom: 90px;
		white-space: nowrap;
	    overflow: hidden;
	    width: 760px;
		animation: type 0.4s steps(60, end);
		
	}
	p{
		.center;
	line-height: 60px;
	white-space: nowrap;
    overflow: hidden;
    width: 600px;
    animation: type .8s steps(60, end);
    	&:nth-child(2) {
    		animation: type2 1s steps(60, end);
    	}
    	&:nth-child(3) {
    		animation: type2 2s steps(60, end);
    	}
    	&:nth-child(4) {
    		animation: type2 3s steps(60, end);
    	}

	}
}


@keyframes type{ 
  from { width: 0; } 
   0%{width: 0;}
  85%{width: 100;}
  100%{ width: 100;}
} 
@keyframes type2{ 
  from { width: 0; } 
   0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100;}
} 


#page-two {

}


